* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-style: "Roboto", sans-serif;

  --hue: 200;
  --header-color: hsl(var(--hue), 0%, 0%);
  --body-color: hsl(var(--hue), 15%, 60%);
  --main-color: hsl(var(--hue), 48%, 22%);
  --input-color: hsl(var(--hue), 10%, 90%);
  --inputs-color: hsl(var(--hue), 55%, 50%);
  --btn-color: hsl(var(--hue), 59%, 29%);
  --btn-hover-color: hsl(var(--hue), 80%, 60%);
}

body {
  font-size: 1.6rem;
  font-style: "Roboto", sans-serif;

  padding: 1rem;

  background-color: var(--body-color);

  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;

  margin-bottom: 2rem;

  color: var(--header-color);
}

main {
  display: flex;
  flex-direction: column;
  max-width: 50rem;

  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1); */

  border: none;
  border-radius: 8px;

  margin: 0 auto 2rem;
  padding: 2rem;

  color: var(--input-color);
  background-color: var(--main-color);
}

/*--------------- user informations ----------------*/

.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;

  font-size: 2rem;
}

.user-info input {
  width: 100%;

  font-size: 2rem;

  margin: 0.5rem 0 1rem;
  padding: 1.5rem;

  border-radius: 8px;
  border: none;

  color: var(--inputs-color);
  background-color: var(--input-color);
}

.user-info input:focus,
.fat-percentage input:focus {
  outline-color: rgb(20, 97, 90);
}

/*-------------- radio input gender -----------------*/

.input-gender .text-label {
  font-size: 2rem;
  margin: 1rem 0;
}

.input-gender .gender-options {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5rem 0.5rem;

  font-size: 10rem;
  margin-left: -4rem;
}

.input-gender .gender-options input {
  cursor: pointer;
}

.gender-options .gender-label {
  font-size: 2rem;
  line-height: 2.4rem;

  margin-left: -4rem;

  cursor: pointer;
}

/*----------- radio input activities ---------------- */

.input-activite .text-label {
  margin: 2rem 0 1rem;
  font-size: 2rem;
}

.input-activite .activities-label {
  font-size: 2rem;
  line-height: 2.4rem;

  margin-left: -4rem;

  cursor: pointer;
}

.input-activite .activities {
  display: grid;
  grid-template-columns: 1em auto;

  gap: 0.5rem 0.5rem;

  font-size: 10rem;

  margin-left: -4rem;
}

.input-activite .activities input {
  cursor: pointer;
}
/*------------------- button ---------------------*/

#calcular {
  width: 100%;

  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;

  margin: 3rem 0;
  padding: 1.5rem 2rem;

  border-radius: 8px;
  border: none;

  color: aliceblue;
  background-color: var(--btn-color);

  cursor: pointer;
}

#calcular:hover {
  transition: 0.3s ease-in-out;

  background-color: var(--btn-hover-color);
  /* opacity: 0.7; */
}

/*------------------- result ---------------------*/

#result h2 {
  margin-bottom: 2rem;
}

.result-content {
  padding: 0.5rem;
  border-radius: 8px;
}

.result-content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style: none;
}

.result-content ul li {
  line-height: 30px;

  font-weight: bold;
  font-size: 1.4rem;
}

/*------------------- footer ---------------------*/

footer {
  text-align: center;
  margin: 3rem 0 0;
}

/*--------------- key frames animista box shadow ---------------------------*/

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/*--------------- key frames animista scale-in ---------------------------*/

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
